* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
  color: white;
}
#backgroundimg {
  background-image: url(Images/Untitled-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  /* background: radial-gradient(rgb(73, 77, 206), rgb(14, 13, 58)); */
}
#headbar {
  /* background-color: #143d59; */
  display: flex;
  align-items: center;
  /* padding: 20px; */
}
#logo {
  flex: 1;
  text-align: right;
}
#logo img {
  width: 50%;
}
#bar {
  flex: 1;
  font-size: x-large;
}
#bar ul {
  display: inline-block;
  list-style-type: none;
}
#bar ul li {
  display: inline-block;
  margin-left: 20px;
}
a {
  text-decoration: none;
  color: white;
}
#container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
#info {
  text-align: center;
}
#content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cont1 {
  margin-top: 100px;
  min-width: 300px;
  font-size: 200%;
}
#startshopping {
  display: inline-block;
  background-color: #ff532b;
  color: white;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: 250ms;
}
#startshopping:hover {
  background-color: rgb(97, 97, 97);
}
#bar ul li a:hover {
  color: #f4b41a;
}
