* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
  background-color: rgb(34, 34, 34);
  color: white;
}
#backgroundimg {
  background-image: url(Images/Untitled-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* min-height: 75vh; */
}
#headbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo {
  flex: 1;
}
#logo img {
  width: 75%;
}
#bar {
  flex: 2;
  font-size: xx-large;
  text-align: left;
  margin-left: 75px;
}
#bar ul li {
  display: inline-block;
  margin-left: 20px;
}
a {
  text-decoration: none;
  color: white;
}
#container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
#info {
  text-align: center;
}
.content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cont1 {
  margin-top: 100px;
  min-width: 300px;
  font-size: 2vmax;
}
#startshopping {
  display: inline-block;
  background-color: #ff532b;
  color: white;
  padding: 8px 30px;
  margin: 30px 0 120px;
  border-radius: 30px;
  transition: 250ms;
}
#startshopping:hover {
  background-color: rgb(97, 97, 97);
}
#bar ul li a:hover {
  transition: 350ms;
  color: #f4b41a;
}
#featuredcatagories {
  margin-top: 50px;
  max-width: 1300px;
  margin: auto;
  padding: 0 25px;
}
.row {
  /* min-height: 600px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.catagory {
  flex: 1;
  background-color: rgb(255, 251, 241);
  /* border: solid #f4b41a 2px; */
  width: 30%;
  /* min-width: 250px; */
  margin-left: 10px;
  text-align: center;
  font-size: xx-large;
  margin-bottom: 20px;
}
.catagory img {
  margin-top: 20px;
  width: 90%;
  /* height: 100%; */
}
.catagory h4 {
  margin-bottom: 20px;
  color: #143d59;
}
.catagory:hover {
  transform: scale(110%);
  transition: 500ms;
}
#featureditems {
  /* background-color: white; */
  max-width: 1300px;
  margin: auto;
  padding: 0 25px;
}
.img1 {
  /* height: 35em; */
  width: 24%;
  padding: 10px;
  min-width: 200px;
  margin: 0 1px;
  margin-bottom: 50px;
  color: #143d59;
  box-shadow: rgba(255, 255, 255, 0.212) 0px 0px 5px;
}
.img1:hover {
  transform: scale(110%);
  transition: 500ms;
}

.img1 img {
  width: 100%;
}
#itemstitle {
  text-align: center;
  margin: 30px auto 40px;
  position: relative;
  line-height: 100px;
  font-size: 30px;
  color: #f4b41a;
}
#itemstitle::after {
  content: "";
  background: #ff532b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#footer {
  background-color: rgb(0, 0, 0);
  font-size: 14px;
  padding: 40px 0;
}
#footer h3 {
  margin-bottom: 20px;
}
#col-1,
#col-2,
#col-3,
#col-4 {
  min-width: 200px;
}
#col-1 {
  flex-basis: 30%;
}
#col-2 {
  flex: 1;
  text-align: center;
}
#col-2 img {
  width: 280px;
  margin-bottom: 20px;
}
#col-3,
#col-4 {
  flex-basis: 12%;
  text-align: center;
}
#col-3 ul,
#col-4 ul {
  list-style-type: none;
}
#stores {
  margin-top: 20px;
}
#stores img {
  width: 140px;
}
.fas,
.fa-star {
  color: #f4b41a;
}
.cssmarquee {
  height: 40px;
  overflow: hidden;
  position: relative;
  border: #f4b41a solid;
  border-width: 3px 0px;
  background-color: rgb(255, 250, 227);
  margin: 0px -10px 10px -10px;
  font-weight: bold;
}
.cssmarquee p {
  color: rgb(255, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 35px;
  text-align: center;
  transform: translateX(100%);
  animation: cssmarquee 8s linear infinite;
}
@keyframes cssmarquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.style-1 del {
  color: rgba(255, 0, 0, 0.5);
  text-decoration: none;
  position: relative;
}
.style-1 del::before {
  content: " ";
  display: block;
  width: 100%;
  border-top: 1px solid rgba(255, 0, 0, 0.822);
  height: 13px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(-7deg);
}
.style-1 ins {
  color: rgb(0, 139, 0);
  font-size: large;
  text-decoration: none;
  font-weight: bold;
  margin-left: 3px;
}
#special-item-bgcolor {
  /* height: 70vh; */
  /* background: radial-gradient(rgb(88, 88, 88), rgb(34, 34, 34)); */
  background: url(Images/watch-bg.png) no-repeat center center fixed;
  /* -webkit-background-size: cover; */
  /* -moz-background-size: cover; */
  /* -o-background-size: cover; */
  background-size: cover;
}
#special-item {
  margin: auto;
  display: flex;
  max-width: 1300px;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  font-size: x-large;
}
#specs {
  width: 49%;
  margin-bottom: 75px;
  margin-left: 20px;
}
#trailer {
  width: 60%;
  margin-right: 25px;
}
#trailer video {
  margin: 100px 0;
  border: #ffffff solid 2px;
  width: 100%;
}
#trailer video:hover {
  transition: 1000ms;
  transform: scale(115%);
  cursor: pointer;
}
