* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
  background-color: rgb(34, 34, 34);
  color: white;
}
#backgroundimg {
  background-image: url(../Images/Untitled-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* min-height: 75vh; */
}
#bg-color {
  max-width: 1300px;
  background-color: rgb(34, 34, 34);
  margin: auto;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  border: #f4b41a solid;
  border-width: 3px 3px 0px;
}
#headbar {
  display: flex;
  align-items: center;
}
#logo {
  flex: 1;
}
#logo img {
  width: 75%;
}
#bar {
  flex: 2;
  font-size: xx-large;
  text-align: left;
  margin-left: 75px;
}
#bar ul {
  display: inline-block;
  list-style-type: none;
}
#bar ul li {
  display: inline-block;
  margin-left: 20px;
}
a {
  text-decoration: none;
  color: white;
}
.img-zoom:hover {
  transition: 250ms;
  transform: scale(110%);
}
#container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 20px;
}
#info {
  text-align: center;
}
.content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cont1 {
  margin-top: 100px;
  min-width: 300px;
  font-size: 2vmax;
}
#startshopping {
  display: inline-block;
  background-color: #ff532b;
  color: white;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: 250ms;
}
#startshopping:hover {
  background-color: rgb(97, 97, 97);
}
#bar ul li a:hover {
  color: #f4b41a;
}
#featuredcatagories {
  margin-top: 50px;
  max-width: 1300px;
  margin: auto;
  padding: 0 25px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.catagory {
  flex: 1;
  background-color: rgb(255, 251, 241);
  flex-basis: 24%;
  max-width: 25%;
  min-width: 300px;
  margin-left: 10px;
  text-align: center;
  font-size: xx-large;
  margin-bottom: 20px;
}
.catagory img {
  margin-top: 20px;
  width: 90%;
  /* height: 100%; */
}
.catagory h4 {
  margin-bottom: 20px;
  color: #143d59;
}
.catagory:hover {
  transform: scale(110%);
  transition: 500ms;
}
#featureditems {
  /* background-color: white; */
  /* max-width: 1300px; */
  margin: auto;
  padding: 0 25px;
}
.img1 {
  /* flex-basis: 25%; */
  padding: 10px;
  width: 24%;
  margin-bottom: 50px;
  color: #143d59;
  box-shadow: rgba(255, 255, 255, 0.212) 0px 0px 5px;
}

.img1:hover {
  transform: scale(110%);
  transition: 500ms;
}

.img1 img {
  width: 100%;
}
#itemstitle {
  /* text-align: center; */
  margin-right: 20px;
  position: relative;
  line-height: 100px;
  /* font-size: xx-large; */
  color: #f4b41a;
}
#itemstitle::after {
  content: "";
  background: #ff532b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#footer {
  background-color: rgb(0, 0, 0);
  font-size: 14px;
  padding: 30px 0;
}
#footer h3 {
  margin-bottom: 20px;
}
#col-1,
#col-2,
#col-3,
#col-4 {
  min-width: 200px;
}
#col-1 {
  flex-basis: 30%;
}
#col-2 {
  flex: 1;
  text-align: center;
}
#col-2 img {
  width: 280px;
  margin-bottom: 20px;
}
#col-3,
#col-4 {
  flex-basis: 12%;
  text-align: center;
}
#col-3 ul,
#col-4 ul {
  list-style-type: none;
}
#stores {
  margin-top: 20px;
}
#stores img {
  width: 140px;
}
.content-2 {
  color: #f4b41a;
  justify-content: space-between;
  margin: 40px 10px 50px;
  font-size: x-large;
}
select {
  border: 2px solid #f4b41a;
  width: 200px;
  padding: 5px;
  font-size: 25px;
}
select:focus {
  outline: none;
}
#pages {
  margin: 0 auto 80px;
  align-items: center;
}
#pages span {
  font-size: 20px;
  display: inline-block;
  margin-right: 10px;
  width: 45px;
  height: 45px;
  text-align: center;
  border: 2px solid black;
  color: black;
  background-color: #f4b41a;
}
#pages #current {
  /* color: #f4b41a; */
  background-color: #fff;
}
#pages span:hover {
  border: 2px solid #f4b41a;
  color: black;
  background-color: white;
}
.fas,
.fa-star {
  color: #f4b41a;
}
